.errors{
	color:red;
}
.error{
	border-style: solid;
    border-width: 1px;
    border-color:red;
    border-radius: 5px;
}
@media (min-width: 600px) { .container { max-width: 600px; } }
​
.embeddedJson{
	display:none;
	visibility:hidden;
}
