@(elements: helper.FieldElements)
			<div class="first-child-of-multi-field col-sm-12">
				<div class="col-sm-4">
					<label class="form-control-label" for="@elements.id">@elements.label</label>
				</div>
				
				<div class="col-sm-offset-4 col-sm-8">
					@elements.input 
					@*<span class="help">
					@elements.infos.mkString(", ")
					</span>*@
					<span class="help">*</span>
				</div>
				<div class="col-sm-offset-4 col-sm-4">
    				<span class="errors">@elements.errors.mkString(", ")</span>
   				 </div>
			</div>	
			<div class="first-child-of-multi-field col-sm-12">
				<div class="col-sm-offset-4 col-sm-2">
					<button type="button" class="add-field col-sm-1" style="background:none;border:0;padding:0px;width:24px; text-align:center; vertical-align:middle"><span class="fa fa-plus-circle"/></button>
					<button type="button" class="remove-field col-sm-1" style="background:none;border:0;padding:0px;width:24px; text-align:center; vertical-align:middle"><span class="fa fa-minus-circle"/></button>
				</div>
			
			<div class="col-sm-offset-2 col-sm-1 gndSearch">
				<button type="button" class="btn" style="background:none;border:0;padding:0px;width:24px; text-align:center; vertical-align:middle"><span class="fa fa-search"/></button>
			</div>
		</div>

